/* .hero-container-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    justify-content: center;
    margin-top: 85px;
    margin-left: 40%;
}

.hero-container-2 h3 {
    color: black;
    display: flex;
    align-items: center;
    font-size: 48px;
    line-height: 58px;
    height: 174px;
    left: 529px;
    font-weight: 900;
    
}

.hero-container-2 p {
    margin-top: 45px;
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    height: 290px;
    left: 529px;
    column-count: 2;
    column-gap: 60px;
    column-fill: balance;
} */

.img-1 {
    /* margin: auto;
    margin-top: -551px;
    margin-left: 900px;
    width: 100vw;
    left: 925px;
    top: 151px;
    background: url('../../images/image-1.png');
    background-repeat: no-repeat;
    background-size: cover; */

    /* position: absolute;
    background: url('../../images/image-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    width: 30%;
    height: 505px;
    top: 270px; */

    position: absolute;
    background: url('../../images/image-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    width: 515px;
    height: 640px;
    top: 151px;
}

.img-2 {
    /* margin: auto;
    margin-top: -551px;
    margin-left: 900px;
    width: 100vw;
    left: 925px;
    top: 151px;
    background: url('../../images/image-1.png');
    background-repeat: no-repeat;
    background-size: cover; */
    
    background: url('../../images/image-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 423px;
    height: 659px;
    left: 0px;
    top: 690px;
}

/* .row {
    margin-top: 50px;
    display: flex;
    justify-content: center;
} */

.donate-container {
    width: 100%;
    height: 530px;
    padding-top: 15%;
}

.donate-container .dono-header {
    color: #C32424;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

/* .row .cards {
    margin: 0 10px;
} */


@media screen and (min-width: 768px) {
    /* For desktop: */
    .img-1 {
        width: 515px;
        height: 640px;
        top: 151px;
    }

    /* .img-2 {
        width: 30%;
        height: 505px;
    } */

    /* .hero-container-2 h3 {
        font-size: 32px;
        line-height: 58px;
        width: 620px;
        height: 174px;
        left: 165px;
        top: 151px;
    }

    .hero-container-2 p {
        font-size: 18px;
        width: 500px;
        height: 300px;
    } */

    .row {
        margin-top: 40px;
    }
    
    .donate-container .dono-header {
        font-size: 28px;
        line-height: 40px;
    }
}