

.img-1 {
   
    position: absolute;
    background: url('../../images/image-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    width: 515px;
    height: 640px;
    top: 151px;
}

.img-2 {
   
    background: url('../../images/image-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 423px;
    height: 659px;
    left: 0px;
    top: 690px;
}

.donate-container {
    width: 100%;
    height: 530px;
    padding-top: 15%;
}

.donate-container .dono-header {
    color: #C32424;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}



@media screen and (min-width: 768px) {
    /* For desktop: */
    .img-1 {
        width: 515px;
        height: 640px;
        top: 151px;
    }

    .row {
        margin-top: 40px;
    }
    
    .donate-container .dono-header {
        font-size: 32px;
    }
}