.cards {
    width: 290px;
    height: 476px;
    overflow: hidden;
    transition: 0.3s;
    background: white;
}

.cards:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-image-container img{
    overflow: hidden;
    height: 270px;
}

.card-content {
    margin: 1rem;
    margin-top: 1rem;
}

h6, p {
    margin: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 1rem;
}

.btns {
    margin: 1rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.btns button {
    background: #C32424;
    color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: bolder;
}


.progress-bar{
    margin-top: 15px;
    background-color: grey;
    height: 5px;
    border-radius: 10px;
}

.progress-bar .red-team {
    background-color: #C32424;
    height: 5px;
    width: 75%;
    border-radius: 10px;
}

/* 
.card .card-body .img-dono {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 5/4;
}

.price-button {
    display: flex;
    justify-content: space-between;
}

.price-button button {
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
} */